@page "/evaluacion_docente"
<!--
Define la URL relativa que carga este componente. En este caso, cuando un usuario navega a "/evaluacion_docente",
este componente Blazor se carga y se representa en la página.
-->
@using BlazorFrontEnd.Services
@inject ApiService ApiService
@inject IJSRuntime JSRuntime
@inherits ValidacionAcceso

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Gestionar <b>Evaluación Docente</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addModal" class="btn btn-success" data-bs-toggle="modal" @onclick="() => PrepareForAddOrEdit()">
                            <i class="material-icons">&#xE147;</i> <span>Añadir Nueva Evaluación D.</span>
                        </a>
 
                        <a href="#consultarModal" class="btn btn-success" data-bs-toggle="modal" @onclick="PrepareForConsulta">
                            <i class="material-icons">&#xE8B6;</i> <span>Consultar Evaluación D.</span>
                        </a>
                    </div>
                </div>
            </div>
            @if (listado == null)
            {
                <p>Cargando...</p>
            }
            else if (!listado.Any())
            {
                <p>No hay Evaluaciones Docentes registradas.</p>
            }
            else
            {
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <!-- CAMBIAR EN CADA TABLA -->
                            <th>Id</th>
                            <th>Calificación</th>
                            <th>Semestre</th>
                            <th>Docente</th>
                            <!-- FIN -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sele in listado)
                        {
                            <tr>
                                <!-- CAMBIAR EN CADA TABLA -->
                                <td>@sele["id"]</td>
                                <td>@sele["calificacion"]</td>
                                <td>@sele["semestre"]</td>
                                <td>@sele["docente"]</td>
                                <!-- FIN -->
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <EditForm Model="@currentSele" OnValidSubmit="SaveSele">
                <DataAnnotationsValidator />
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">@(isNewSele ? "Añadir" : "Editar") Evaluación D.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- CAMBIAR EN CADA TABLA -->
                    <div class="form-group">
                        <label>Id</label>
                        <InputNumber class="form-control" @bind-Value="id" />
                        <ValidationMessage For="@(() => id)" />
                    </div>
                    <div class="form-group">
                        <label>Calificación</label>
                        <InputNumber class="form-control" @bind-Value="calificacion" />
                        <ValidationMessage For="@(() => calificacion)" />
                    </div>
                    <div class="form-group">
                        <label>Semestre</label>
                        <InputText class="form-control" @bind-Value="semestre" />
                        <ValidationMessage For="@(() => semestre)" />
                    </div>
                    <div class="form-group">
                        <label>Docente</label>
                        <InputNumber class="form-control" @bind-Value="docente" />
                        <ValidationMessage For="@(() => docente)" />
                    </div>
                    <!-- FIN -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">@(isNewSele ? "Añadir" : "Guardar")</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Evaluación D.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar esta evaluación docente?</p>
                <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" @onclick="DeleteSele">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="consultarModal" tabindex="-1" role="dialog" aria-labelledby="consultarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultarModalLabel">Consultar Evaluación D.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- CAMBIAR EN CADA TABLA -->
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" class="form-control" @bind="consulta1" @bind:event="oninput" />
                </div>
                <div class="form-group">
                    <label>Calificación</label>
                    <input type="text" class="form-control" @bind="consulta2" readonly />
                </div>
                <div class="form-group">
                    <label>Semestre</label>
                    <input type="text" class="form-control" @bind="consulta3" readonly />
                </div>
                <div class="form-group">
                    <label>Docente</label>
                    <input type="text" class="form-control" @bind="consulta4" readonly />
                </div>
                <!-- FIN -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" @onclick="ConsultarSele">Consultar</button>
                <button type="button" class="btn btn-warning" @onclick="ModificarSeleConsultada" disabled="@(!seleEncontrada)">Modificar</button>
                <button type="button" class="btn btn-danger" @onclick="EliminarSeleConsultada" disabled="@(!seleEncontrada)">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@code {
   
    private List<Dictionary<string, object>> listado = new List<Dictionary<string, object>>();
    private Dictionary<string, object> currentSele = new Dictionary<string, object>();
    private bool isNewSele = true;
    private bool seleEncontrada = false;

    <!-- CAMBIAR EN CADA TABLA -->
    private int id;
    private float calificacion;
    private string semestre;
    private int docente;

    private string consulta1 = "";
    private string consulta2 = "";
    private string consulta3 = "";
    private string consulta4 = "";
    <!-- FIN -->

    protected override async Task OnInitializedAsync()
    {
        await LoadListados();
    }
 
    private async Task LoadListados()
    {
        try
        {
            <!-- CAMBIAR EN CADA TABLA -->
            listado = await ApiService.GetDataAsync("api/proyecto/evaluacion_docente");
            <!-- FIN -->
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("console.log", $"Error al cargar evaluaciones docente: {ex.Message}");
            Console.WriteLine($"Error al cargar evaluaciones docente: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "Error al cargar evaluaciones docente: "+ex.Message);
        }
    }
 
    private void PrepareForAddOrEdit(Dictionary<string, object>? sele = null)
    {
        isNewSele = sele == null;
        currentSele = sele ?? new Dictionary<string, object>();

        <!-- CAMBIAR EN CADA TABLA -->
        id = currentSele.TryGetValue("id", out var a) ? Convert.ToInt32(a) : 0;
        calificacion = currentSele.TryGetValue("calificacion", out var b) ? Convert.ToSingle(b) : 0.0f;
        semestre = currentSele.TryGetValue("semestre", out var c) ? c?.ToString() ?? "" : "";
        docente = currentSele.TryGetValue("docente", out var d) ? Convert.ToInt32(d) : 0;
        <!-- FIN -->
       
        JSRuntime.InvokeVoidAsync("showModal", "editModal");
    }
 
    private void PrepareForConsulta()
    {
        <!-- CAMBIAR EN CADA TABLA -->
        consulta1 = "";
        consulta2 = "";
        consulta3 = "";
        consulta4 = "";
        <!-- FIN -->
        seleEncontrada = false;
    }
 
    private void SetSeleToDelete(Dictionary<string, object> sele)
    {
        currentSele = sele;
    }
 
    private async Task SaveSele()
    {
        try
        {
            <!-- CAMBIAR EN CADA TABLA -->
            currentSele["id"] = id;
            currentSele["calificacion"] = calificacion;
            currentSele["semestre"] = semestre;
            currentSele["docente"] = docente;
            <!-- FIN -->
 
            bool success;
            if (isNewSele)
            {
                <!-- CAMBIAR EN CADA TABLA -->
                success = await ApiService.AddEntityAsync("api/proyecto/evaluacion_docente", currentSele);
                <!-- FIN -->
            }
            else
            {
                <!-- CAMBIAR EN CADA TABLA -->
                success = await ApiService.EditEntityAsync("api/proyecto/evaluacion_docente/id", id, currentSele);
                <!-- FIN -->
            }
 
            if (success)
            {
                await JSRuntime.InvokeVoidAsync("hideModal", "addModal");
 
                await LoadListados();
                <!-- CAMBIAR EN CADA TABLA -->
                id = 0;
                calificacion = 0;
                semestre = string.Empty;
                docente = 0;
                <!-- FIN -->

                currentSele = new Dictionary<string, object>();
                isNewSele = true;
 
                StateHasChanged();
 
                await JSRuntime.InvokeVoidAsync("alert", "Operación realizada con éxito.");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Error al guardar la evaluacion docente. Por favor, intente nuevamente.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al guardar evaluacion docente: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "ERROR.");
        }
    }
 
    private async Task DeleteSele()
    {
        try
        {
            <!-- CAMBIAR EN CADA TABLA -->
            if (currentSele.TryGetValue("id", out var prmObj) && prmObj is string prmStr && int.TryParse(prmStr, out int prmInt))
            {
                bool success = await ApiService.DeleteEntityAsync("api/proyecto/evaluacion_docente/id", prmInt);
                if (success)
                {
                    await JSRuntime.InvokeVoidAsync("hideModal", "deleteModal");
                    await LoadListados();
                    await JSRuntime.InvokeVoidAsync("alert", "Evaluación D. eliminada con éxito.");
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("alert", "Error al eliminar evaluación docente. Por favor, intente nuevamente.");
                }
            }
            <!-- FIN -->
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al eliminar evaluación docente: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "Error al eliminar el evaluación docente. Por favor, intente nuevamente.");
        }
    }
 
    private async Task ConsultarSele()
    {
        try
        {
            <!-- CAMBIAR EN CADA TABLA -->
            var resultado = await ApiService.GetDataAsync($"api/proyecto/evaluacion_docente/id/{consulta1}");
            if (resultado.Any())
            {
                var seleConsultada = resultado.First();
                consulta2 = seleConsultada["calificacion"]?.ToString() ?? "";
                consulta3 = seleConsultada["semestre"]?.ToString() ?? "";
                consulta4 = seleConsultada["docente"]?.ToString() ?? "";
                seleEncontrada = true;
            }
            else
            {
                consulta2 = "";
                consulta3 = "";
                consulta4 = "";
                seleEncontrada = false;
                await JSRuntime.InvokeVoidAsync("alert", "No se encontró ninguna evaluación docente con ese ID.");
            }
            StateHasChanged();
            <!-- FIN -->
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al consultar evaluación docente: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "Error al consultar evaluación docente. Por favor, intente nuevamente.");
        }
    }
 
    private async Task ModificarSeleConsultada()
    {
        <!-- CAMBIAR EN CADA TABLA -->
        PrepareForAddOrEdit(new Dictionary<string, object>
        {
            ["id"] = consulta1,
            ["calificacion"] = consulta2,
            ["semestre"] = consulta3,
            ["docente"] = consulta4
        });
        <!-- FIN -->
        await JSRuntime.InvokeVoidAsync("hideModal", "consultarModal");
        await JSRuntime.InvokeVoidAsync("showModal", "addModal");
    }

    private async Task EliminarSeleConsultada()
    {
        SetSeleToDelete(new Dictionary<string, object>
        {
            ["id"] = consulta1,
            ["calificacion"] = consulta2,
            ["semestre"] = consulta3,
            ["docente"] = consulta4
        });
        await JSRuntime.InvokeVoidAsync("hideModal", "consultarModal");
        await JSRuntime.InvokeVoidAsync("showModal", "deleteModal");
    }
}